<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../static/css/about-us.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,424;1,424&display=swap" rel="stylesheet">
</head>
<body>
    <!-- nav bar -->
    <nav class="nav">

    <div class="nav-contents">

        <!-- left part of the nav bar -->
        <ul class="nav-left">
            <li class="nav-link nav-brand"><a href="/">logo</a></li>
            <li class="nav-link"><a href="/downloads">Download</a></li>
            <li class="nav-link"><a href="/about-us">About Us</a></li>
        </ul>

        <!-- right part of the nav bar -->
        <ul class="nav-right">
            <li class="nav-link sign-up"><a href="#">Sign Up</a></li>
            <li class="nav-link log-in"><a href="#">Log In</a></li>
        </ul>

    </div>

</nav>

    <!-- Section 1 (About Our Work) -->
    <section class="section1">

        <div class="section1-contents">
            <h3>About Our Work</h3>
            <p>At Tonemade Labs, we aim to make music accessible to everyone. Our VST tools are designed to inspire creativity and empower musicians and producers of all levels to express their unique sound. We’re here to help you bring your musical ideas to life.</p>
        </div>

    </section>
</body>
</html>